@font-face {
    font-family: "Lato";
    src: url("media/font/Lato-Regular.ttf") format("truetype"),
        url("media/font/lato-regular-webfont.woff") format("woff"),
        url("media/font/lato-regular-webfont.woff2") format("woff2"),
        url("media/font/Lato-Regular.otf") format("otf");
}

html {
    font-family: 'Lato';
    color: #333;
}

body {
    background-color: #F5F6FA;
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

main {
    width: 800px;
    background-color: white;
    margin: auto;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07)
    ;
    border-radius: 5px;

}

header {
    background-color: #CCE3EC;
    padding: 30px 0 30px 50px;
    color: #333;
    margin-bottom: 20px;
}

header q {
    opacity: 0.7;
}

header img {
    display: block;
    float: left;
    margin-right: 30px;
}

section table {
    width: 100%;
    border: 1px solid #333;
    border-spacing: 5px;
    text-align: center;
}

section {
    margin: 50px;
}

section h2 {
    margin-block-end: 0;;
}

section hr {
    border-top: 1px solid #CCE3EC;
}

footer {
    background-color: #E5E5E5;
    height: 80px;
    text-align: center;
    line-height: 80px;
    border-radius: 0 0 5px 5px;
}

footer a {
    text-decoration: none;
    color: #3A748D;
}